@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto+Slab:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');


html,body{
    font-size: 16px;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:hsl(330, 5%, 20%);
    font-family: 'Fredoka', sans-serif;
    font-weight: 300;
}

h2{
    text-align: center;
    font-family: 'Fredoka';
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: hsl(0, 0%, 85%)
}
h3{
    text-align: center;
    font-family: 'Fredoka';
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    color: hsl(248, 11%, 10%);
}
h4{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    line-height: 0.1;
}


/************ MENU BAR *************/
header{
    height: 80px;
    padding: 5px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:hsl(330, 5%, 20%);
}
nav, nav div, button.menu{
    height: 100%;
    width: 100%;
    background-color:hsl(330, 5%, 20%);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 5px 0; */
}
nav div{
    /* border-bottom: 2px solid white; */
    margin: 5px 1px;
    flex: 1 1 auto;
}
button.menu{
    background-color: hsl(240, 5%, 20%);
    /* border-color: aqua; */
    border-radius: 20px;
    box-shadow:rgb(194, 255, 255) 5px 3px 3px 1px;
}
button.menu:active{
    /* font-size: 13px; */
    padding: 2px 0 0 2px;
}


/********** CONTENT BOXES ************/
/* Styling Layout for main section */
main{
    margin-top: 90px;
    width: 100%;
    display: grid;
    /* grid-template-rows: 800px; */
    grid-auto-rows: 1000px;
}
/* Layout of cheatsheet boxes */
main > div.box{
    /* box-sizing: content-box; */
    display: grid;
    grid-template: 12% 1fr / 1fr;
    border: 15px solid hsl(225, 50%, 35%);
    border-radius: 50px;
    margin: 3px 15%;
    padding: 1% 3%;
    justify-content: space-around;
    scroll-margin-top: 95px;
}
.box#html{
    background-color: hsl(205, 80%, 70%);
}
.box#css{
    background-color: hsl(30, 70%, 70%);
}
.box#javascript{
    background-color: hsl(55, 80%, 70%);
}


/******** BOX STYLING **********/
/* Sizing the grid layout within Boxes */
.box-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-rows: 1fr; */
    grid-auto-flow: row;
    gap: 30px 20px;
    justify-content: center;
    align-content: start;
    width: 100%;
    height: 95%;
    overflow: auto;
}
/* Box footer */
.box.section{
    grid-column: span 2;
    text-align: center;
}


/******** TABLE STYLING **********/
.table-div{
    width: 100%;
    height: min-content;
}
table {
	/* border-collapse: collapse; */
    box-sizing: content-box;
	border-spacing: 0;
    border: 3px solid;
    border-radius: 10px;
    width: 97%;
}
.html-table, th.title {
    border-color: hsl(195, 5%, 100%);
}
th.title{
    background-color: hsl(195, 5%, 100%);
}
.html-table th[scope="col"]{
	border-collapse: collapse;
    border: 1px solid;
    border-color: inherit;
    font-weight: 400;
    font-family: 'Roboto Slab';
    line-height: 2;
}
.html-table td{
	/* border-collapse: collapse; */
    border: 0.5px solid;
    border-color: inherit;
    padding: 5px 0 5px 10px;
}
.html-table .left{
    padding: 5px;
    width: 20%;
    background-color: hsl(195, 5%, 100%, 0.3);
    font-family: monospace;
}
.html-table tr td:nth-child(2){
    padding: 7px;
}




/**********  MEDIA QUERIES  *******/
@media screen and (max-width: 1000px) {
    main > div.box{
        margin: 3px 0;
    }
}


